<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form method="POST" action="/cadastrar" enctype="multipart/form-data">
        <label for="nome">Nome Completo:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="username">Nome de Usuário:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="tipo">Tipo</label>
        <input type="text" id=tipo name="tipo" required>
        <br>
        <br>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
