<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/login">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
        <br>
         <select name="tipo">
        <option value="">Informe seu tipo de Usuário</option>
        <option value="Admin">Admin</option>
        <option value="Cliente">Cliente</option>
        </select>
        <br>
        <button type="submit">Entrar</button>
    </form>
    <p>Não tem cadastro? <a href="/cadastro">Cadastre-se aqui!</a></p>
    <p>{{aviso}}</p>
</body>
</html>
